.my-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 5px solid #721EE3;
}

.has-yellow-background {
    background-color: #faf7a7;
    border: 3px solid #E28C1E;
}